@model NIA_CRM.ViewModels.MemberCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <h3>Member Details</h3>
            <div class="card card-body bg-light text-black">
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Member.MemberName" class="control-label"></label>
                            <input asp-for="Member.MemberName" class="form-control" />
                            <span asp-validation-for="Member.MemberName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberMembershipType.MembershipType.TypeName" class="control-label"></label>
                            @Html.DropDownList("MembershipType", null, "All Membership Types", new { @class = "form-control" })
                            <span asp-validation-for="MemberMembershipType.MembershipType.TypeName" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Member.MemberSize" class="control-label"></label>
                            <input asp-for="Member.MemberSize" class="form-control" />
                            <span asp-validation-for="Member.MemberSize" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IndustryNAICSCode.NAICSCode.Code" class="control-label"></label>
                            @Html.DropDownList("NAICSCode", null, "All NAICSCode", new { @class = "form-control" })
                            <span asp-validation-for="IndustryNAICSCode.NAICSCode.Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Member.WebsiteUrl" class="control-label"></label>
                            <input asp-for="Member.WebsiteUrl" class="form-control" />
                            <span asp-validation-for="Member.WebsiteUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberNote.Note" class="control-label"></label>
                            <textarea asp-for="MemberNote.Note" class="form-control"></textarea>
                            <span asp-validation-for="MemberNote.Note" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Column 3 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Address.AddressLine1" class="control-label"></label>
                            <input asp-for="Address.AddressLine1" class="form-control" />
                            <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address.AddressLine2" class="control-label"></label>
                            <input asp-for="Address.AddressLine2" class="form-control" />
                            <span asp-validation-for="Address.AddressLine2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address.City" class="control-label"></label>
                            <input asp-for="Address.City" class="form-control" />
                            <span asp-validation-for="Address.City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address.StateProvince" class="control-label"></label>
                            <input asp-for="Address.StateProvince" class="form-control" />
                            <span asp-validation-for="Address.StateProvince" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address.PostalCode" class="control-label"></label>
                            <input asp-for="Address.PostalCode" class="form-control" />
                            <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Information (Only showing the first contact in the list) -->
            <!-- Contact Information -->
            <div class="form-group">
                <h3>Contact</h3>
                <div class="card card-body bg-light text-black">
                    <div class="row">
                        <!-- Column 1 -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Contact.FirstName" class="control-label"></label>
                                <input asp-for="Contact.FirstName" class="form-control" />
                                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Contact.MiddleName" class="control-label"></label>
                                <input asp-for="Contact.MiddleName" class="form-control" />
                                <span asp-validation-for="Contact.MiddleName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Contact.LastName" class="control-label"></label>
                                <input asp-for="Contact.LastName" class="form-control" />
                                <span asp-validation-for="Contact.LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Column 2 -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Contact.Email" class="control-label"></label>
                                <input asp-for="Contact.Email" class="form-control" />
                                <span asp-validation-for="Contact.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Contact.Phone" class="control-label"></label>
                                <input asp-for="Contact.Phone" class="form-control" />
                                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Contact.LinkedInUrl" class="control-label"></label>
                                <input asp-for="Contact.LinkedInUrl" class="form-control" />
                                <span asp-validation-for="Contact.LinkedInUrl" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Column 3 -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Contact.Department" class="control-label"></label>
                                <input asp-for="Contact.Department" class="form-control" />
                                <span asp-validation-for="Contact.Department" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Contact.IsVip" class="control-label"></label>
                                <input class="form-check-input" asp-for="Contact.IsVip" />
                                <span asp-validation-for="Contact.IsVip" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ContactNote.Note" class="control-label"></label>
                                <textarea asp-for="ContactNote.Note" class="form-control"></textarea>
                                <span asp-validation-for="ContactNote.Note" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="position-bottom-left">
                <a class="btn btn-dark me-2" asp-controller="Member" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-primary" />

            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
