html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #8C1818;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.custom-filter-badge {
    background-color: #a61c1c;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clear-btn {
    background: transparent !important;
    border: none;
    font-size: 1.85rem;
    color: white;
    cursor: pointer;
}

.SortIndicator{
    margin-left: -6px;
    font-size: 1.35em;

}

#Chartcontent {
    max-width: 550px;
    height: auto;
}